<html>
    <head>
        <title>
            Real Chat Application
        </title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
        <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
        <script src="javascripts/HomeApp.js"></script>
    </head>

    <body ng-app="MainHomeApp" ng-controller="MainHomeCtrl">
        <h2>Welcome to the Home page</h2>
    </body>
</html>