<!DOCTYPE html>
<html>
    <head>
        <title>
            To Do Manager
        </title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

        <script src="javascripts/HomeApp.js"></script>
        <link href="stylesheets/simplegrid.css" rel="stylesheet">
        <link href="stylesheets/style.css" rel="stylesheet">
    </head>

    <body ng-app="MainHomeApp" ng-controller="MainHomeCtrl">
        <div class="w3-round-jumbo w3-blue" style="width: 80%; margin-left: 150px">
            <h2 align="center">Manage Your Work Here</h2>
        </div>
        <br>
        <hr class="style18">

        <div>
            <div class="w3-round-jumbo w3-teal" style="width: 70%; align-items: center; margin-left: 200px">
                <h3 align="center">Project Work/External Projects/Knowledgeable things</h3>
            </div>
            <div class="grid">
                <div class="col-1-2">
                    <div class="content">
                        <div class="w3-round-jumbo w3-cyan">
                            <h4 align="center">To Be Done Tasks</h4>
                        </div>
                        <div align="center" ng-repeat="project in projects">
                            <div class="w3-card-4">
                                <br>
                                <h4><b>{{project.content}}</b></h4>
                                <p>{{project.time | date:'yyyy-MM-dd'}}</p>
                                <button type="submit" ng-click="markDone(project)">Done</button>
                                <button type="submit" ng-click="removeItem(project)">Remove</button>
                                <br>
                                <br>
                            </div>
                            <br>
                            <!--{{project.content}} added on {{project.time | date:'yyyy-MM-dd'}}
                            <button type="submit" ng-click="markDone(project)">Done</button>
                            <button type="submit" ng-click="removeItem(project)">Remove</button>-->

                        </div>
                        <br>
                        <br>
                    </div>
                </div>
                <div class="col-1-2">
                    <div class="content">
                        <div class="w3-round-jumbo w3-lime">
                            <h4 align="center">Done Tasks</h4>
                        </div>
                        <div align="center" ng-repeat="project in done_projects">
                            <div class="w3-card-4">
                                <h4><b>{{project.content}}</b></h4>
                                <p>Added on - {{project.time | date:'yyyy-MM-dd'}}</p>
                                <p>Marked Done on - {{project.doneTime | date:'yyyy-MM-dd'}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <br>
            <div align="center">
                <form ng-submit="projectAdd()">
                    <input type="text" ng-model="project">
                    <button type="submit">Add work</button>
                </form>
            </div>
        </div>
        <br>
        <hr class="style18">

        <div>
            <div class="w3-round-jumbo w3-teal" style="width: 70%; align-items: center; margin-left: 200px">
                <h3 align="center">IEEE/WebClub Work</h3>
            </div>

            <div class="grid">
                <div class="col-1-2">
                    <div class="content">
                        <div class="w3-round-jumbo w3-cyan">
                            <h4 align="center">To Be Done Tasks</h4>
                        </div>
                        <div align="center" ng-repeat="clubWork in clubWorks">
                            <div class="w3-card-4">
                                <br>
                                <h4><b>{{clubWork.content}}</b></h4>
                                <p>{{clubWork.time | date:'yyyy-MM-dd'}}</p>
                                <button type="submit" ng-click="markDone(clubWork)">Done</button>
                                <button type="submit" ng-click="removeItem(clubWork)">Remove</button>
                                <br>
                                <br>
                            </div>
                            <br>
                        </div>
                        <br>
                        <br>
                    </div>
                </div>
                <div class="col-1-2">
                    <div class="content">
                        <div class="w3-round-jumbo w3-lime">
                            <h4 align="center">Done Tasks</h4>
                        </div>
                        <div align="center" ng-repeat="clubWork in done_clubWorks">
                            <div class="w3-card-4">
                                <h4><b>{{clubWork.content}}</b></h4>
                                <p>Added on - {{clubWork.time | date:'yyyy-MM-dd'}}</p>
                                <p>Marked Done on - {{clubWork.doneTime | date:'yyyy-MM-dd'}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
            </div>

            <br>
            <div align="center">
                <form ng-submit="clubWorkAdd()">
                    <input type="text" ng-model="clubWork">
                    <button type="submit">Add Club work</button>
                </form>
            </div>
        </div>
        <br>
        <hr class="style18">

        <div>
            <div class="w3-round-jumbo w3-teal" style="width: 70%; align-items: center; margin-left: 200px">
                <h3 align="center">College Work/Assignments/Projects/Study</h3>
            </div>
            <div class="grid">
                <div class="col-1-2">
                    <div class="content">
                        <div class="w3-round-jumbo w3-cyan">
                            <h4 align="center">To Be Done Tasks</h4>
                        </div>
                        <div align="center" ng-repeat="acadWork in acadWorks">
                            <div class="w3-card-4">
                                <br>
                                <h4><b>{{acadWork.content}}</b></h4>
                                <p>{{acadWork.time | date:'yyyy-MM-dd'}}</p>
                                <button type="submit" ng-click="markDone(acadWork)">Done</button>
                                <button type="submit" ng-click="removeItem(acadWork)">Remove</button>
                                <br>
                                <br>
                            </div>
                            <br>
                        </div>
                        <br>
                        <br>
                    </div>
                </div>
                <div class="col-1-2">
                    <div class="content">
                        <div class="w3-round-jumbo w3-lime">
                            <h4 align="center">Done Tasks</h4>
                        </div>
                        <div align="center" ng-repeat="acadWork in done_acadWorks">
                            <div class="w3-card-4">
                                <h4><b>{{acadWork.content}}</b></h4>
                                <p>Added on - {{acadWork.time | date:'yyyy-MM-dd'}}</p>
                                <p>Marked Done on - {{acadWork.doneTime | date:'yyyy-MM-dd'}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
            </div>


            <br>
            <div align="center">
                <form ng-submit="acadWorkAdd()">
                    <input type="text" ng-model="acadWork">
                    <button type="submit">Add Academic work</button>
                </form>
            </div>
        </div>
        <br>
        <hr class="style18">

        <div>
            <div class="w3-round-jumbo w3-teal" style="width: 70%; align-items: center; margin-left: 200px">
                <h3 align="center">Personal Life/Home/Divija/Friends</h3>
            </div>
            <div class="grid">
                <div class="col-1-2">
                    <div class="content">
                        <div class="w3-round-jumbo w3-cyan">
                            <h4 align="center">To Be Done Tasks</h4>
                        </div>
                        <div align="center" ng-repeat="persWork in persWorks">
                            <div class="w3-card-4">
                                <br>
                                <h4><b>{{persWork.content}}</b></h4>
                                <p>{{persWork.time | date:'yyyy-MM-dd'}}</p>
                                <button type="submit" ng-click="markDone(persWork)">Done</button>
                                <button type="submit" ng-click="removeItem(persWork)">Remove</button>
                                <br>
                                <br>
                            </div>
                            <br>
                        </div>
                        <br>
                        <br>
                    </div>
                </div>
                <div class="col-1-2">
                    <div class="content">
                        <div class="w3-round-jumbo w3-lime">
                            <h4 align="center">Done Tasks</h4>
                        </div>
                        <div align="center" ng-repeat="persWork in done_persWorks">
                            <div class="w3-card-4">
                                <h4><b>{{persWork.content}}</b></h4>
                                <p>Added on - {{persWork.time | date:'yyyy-MM-dd'}}</p>
                                <p>Marked Done on - {{persWork.doneTime | date:'yyyy-MM-dd'}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div align="center">
                <form ng-submit="persWorkAdd()">
                    <input type="text" ng-model="persWork">
                    <button type="submit">Add Personal work</button>
                </form>
            </div>
        </div>
        <br>
        <hr class="style18">

        <div>
            <div class="w3-round-jumbo w3-teal" style="width: 70%; align-items: center; margin-left: 200px">
                <h3 align="center">Others</h3>
            </div>
            <div class="grid">
                <div class="col-1-2">
                    <div class="content">
                        <div class="w3-round-jumbo w3-cyan">
                            <h4 align="center">To Be Done Tasks</h4>
                        </div>
                        <div align="center" ng-repeat="other in others">
                            <div class="w3-card-4">
                                <br>
                                <h4><b>{{other.content}}</b></h4>
                                <p>{{other.time | date:'yyyy-MM-dd'}}</p>
                                <button type="submit" ng-click="markDone(other)">Done</button>
                                <button type="submit" ng-click="removeItem(other)">Remove</button>
                                <br>
                                <br>
                            </div>
                            <br>
                        </div>
                        <br>
                        <br>
                    </div>
                </div>
                <div class="col-1-2">
                    <div class="content">
                        <div class="w3-round-jumbo w3-lime">
                            <h4 align="center">Done Tasks</h4>
                        </div>
                        <div align="center" ng-repeat="other in done_others">
                            <div class="w3-card-4">
                                <h4><b>{{other.content}}</b></h4>
                                <p>Added on - {{other.time | date:'yyyy-MM-dd'}}</p>
                                <p>Marked Done on - {{other.doneTime | date:'yyyy-MM-dd'}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <div align="center">
                <form ng-submit="otherAdd()">
                    <input type="text" ng-model="other">
                    <button type="submit">Add Other work</button>
                </form>
            </div>
            <br>
            <br>
        </div>

        <br>

        <hr class="style18">


    </body>
</html>